body {
  background-color: black;
  font-family: 'DM Sans' ,sans-serif;
}

.container {
  background-color: white;
}

h1 {
 display: flex;
 justify-content: center;
 margin-left: auto;
 margin-right: auto;
 background-color: white;
 margin-top: 260px;
 font-size: 50px;
 padding-top: 30px;
}

.row{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.column{
  margin-right: 15px;
}

p.name,
p.size {
  display: inline-block;
  font-size: 23px;
  font-weight: 600;
}

p.price,
p.old-price {
  display: inline-block;
  font-size: 22px;
  margin-top: -3px;
  font-weight: 600;

}

p.size,
p.old-price {
  color: #D8D8D8;
}

p.price{
  background-color: #FFF2E7;
}

p.old-price {
  text-decoration-line: line-through;
  padding-bottom: 40px;
}

img {
  object-fit: contain;
  height: 560px;
}
