body {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 400px;
}

.current-type {
  border-bottom: 3px solid;
  margin-bottom: 5px;
}

.correct-letter {
  color: green;
}

.wrong-letter {
  color: red;
  border-bottom: 3px solid;
}
