.top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  margin-left: auto;
  margin-right: auto;
  border-bottom-style: solid;
  border-color: #a0a0a0;
  border-width: 1px;
}

h1.title {
  font-family: Tiempos Headline, sans-serif;
  font-style: italic;
  font-weight: 300;
  color: #0a4265;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 180px;
}

a {
  margin-right: 80px;
  font-family: Avenir, sans-serif;
}

a.product,
a.implementation,
a.about-us,
a.blog {
  color: #a0a0a0;
  text-decoration: none;
  font-size: 20px;
}

a.contact-us {
  background-color: #294464;
  text-align: center;
  padding: 15px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-right: 180px;
}

.picture {
  background-image: url(images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right 50% bottom 55%;
  position: relative;
  max-width: 1500px;
  height: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.overlay {
  background: linear-gradient(transparent, rgba(0, 0, 0, 45%));
  position: absolute;
  width: 1500px;
  height: 750px;
}

.text {
  position: absolute;
  top: 100px;
  color: white;
}

h1.ptext {
  font-size: 50px;
  max-width: 650px;
  position: relative;
  left: 100px;
}

p.ptext {
  font-size: 23px;
  max-width: 750px;
  word-spacing: 6px;
  line-height: 35px;
  position: relative;
  left: 100px;
}

a.gstart {
  background-color: #294464;
  text-align: center;
  padding: 20px 50px;
  color: white;
  text-decoration: none;
  font-size: 30px;
  position: absolute;
  bottom: 100px;
  left: 100px;
}

.cpc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  color: #b0b0b0;
}

.cpchead {
  font-size: 35px;
  margin-bottom: 10px;
}

.cpctext {
  max-width: 400px;
  text-align: center;
  line-height: 25px;
}

.row {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  line-height: 30px;
   font-family: 'Tiempos Headling', sans-serif;
  color: #b0b0b0;
}
